<h2>enter a new category!</h2>
<br>
<form method="post" action="/categories">
  <div class="form-group">
    <label for="category" class="category">
    <input name="category" type="text" class="form-control" id="category">
  </div>
  <br>
  <button class="btn btn-default" type="submit">add!</button>
</form>
