#if ($cuisine)
  <h2>added: "$cuisine.getName()"</h2>
#else
  <h2>you didn't add a KWIZEEN! nerd!</h2>
#end

<form action="/cuisines">
  <button class="btn btn-default" type="submit">view all cuisines</button>
</form>
