<h2>enter a new cuisine!</h2>
<br>
<form method="post" action="/cuisines">
  <div class="form-group">
    <label for="cuisine" class="cuisine">
    <input name="cuisine" type="text" class="form-control" id="cuisine">
  </div>
  <br>
  <button class="btn btn-default" type="submit">add!</button>
</form>
