    <form action="/delete" method="post">
      <div class="form-group">
        <label for="delete" class="delete">
          <input name="delete" type="hidden"  value="$restaurant.getId()" class="form-control" id="$restaurant.getName()">
      </div>
        <button class="btn btn-default" type="submit">delete</button>
    </form>
