#if ($restaurant)
  <h2>You added: "$restaurant"</h2>
#else
  <h2>You didn't add anything</h2>
#end
<br>
<br>

<form action="/restaurants">
  <button class="btn btn-default" type="submit">restaurants</button>
</form>
