#if ($restaurant.getName())
  <h2>You added: "$restaurant.getName()"</h2>
#else
  <h2>You didn't add anything</h2>
#end
<br>
<br>

<form action="/cuisines/$cuisine.getId()/restaurants">
  <button class="btn btn-default" type="submit">restaurants</button>
</form>
