<h4>restaurants for $cuisine.getName():</h4>

#foreach ($restaurant in $restaurants)
  #if ($restaurant.getName())
    <ul><li><a href="/cuisines/$cuisine.getId()/restaurants/$restaurant.getId()/info">$restaurant.getName()</a></li></ul>
  #else
    <h6>You haven't added anything yet. Sooo, go do that now :)</h6>
  #end
#end

<form action="/cuisines/$cuisine.getId()/restaurants/new">
  <button class="btn btn-default" type="submit">Add A Restaurant</button>
</form>
