<h4>changed info for $restaurant.getName():</h4>

<p>$restaurant.getHours()</p>
<p>$restaurant.getContact_info()</p>
<p>$restaurant.getRating()</p>

<form action="/cuisines">
  <button class="btn btn-default" type="submit">view all cuisines</button>
</form>
